---
import BaseLayout from '../layouts/BaseLayout.astro';

---
<BaseLayout>
	<ul class="inside-menu">
		<li>
			<a href="/testing-react-components-react-testing-library/">React</a>
		</li>
		<li>
			<a href="/testing-vue-components-vue-testing-library/">Vue</a>
		</li>
	</ul>
</BaseLayout>