---
import Navigation from '../components/Navigation.astro';
---
<footer class="footer">
    <p>
        This site is full of stolen examples and sentences as it's not meant to be original :)<br>
        Contributions are wellcome, <a href="https://github.com/lucaboriani/testing-stuff" target="_blank" rel="noopener">repo here</a>

    </p>
    <Navigation/>
</footer>