---

---
<style>
	.box{
		height: 120px;
		display: flex;
		align-items: center;
    	justify-content: space-between;
	}
	.box a {
		cursor: pointer;
		padding: 1em;
		font-weight: 200;
		text-transform: uppercase;
		text-align: center;
		display: flex;
		flex-grow: 1;
		flex-direction: column;
		justify-content: center;
		background-color: darkseagreen;
		color:black;
		text-decoration: none;
		max-width: 50%;
		border: black 1px solid;
	}
	.box a:hover{
		background-color: lightgray;
	}
	.box a img {
		height: 2em;
		margin-bottom: 1em;
	}
	@media screen and (max-width: 840px) {
	
		.box{
			flex-direction: column;
			justify-content: flex-start;
			height: auto;
		}
		.box a {
			margin: .5em 1em;
			width: 100%;
			max-width: initial;
		}
	}
</style>
<div class="box">
    <a href="/testing-react-components-cypress">
        <img src="/React.svg"/>
        <span>React Components with cypress</span> 
    </a>
    <a href="/testing-vue-components-cypress">
        <img src="/Vue.svg"/>
        <span>Vue Components  with cypress</span>
        
    </a>
</div>