---

---
<style>
.nav-links ul {
    list-style: none;
    display: flex;
}
.sublinks{
    display: none;
    background-color: black;
}
.footer .sublinks {
    position: relative;
    top: -100%;
    z-index: 999;
}
.nav-links ul li:hover .sublinks{
    display: block;
}
.sublinks ul{
    flex-direction: column;
    padding-left: .5em;
}
.sublinks small {
    padding: 0 2em;
}
.sublinks ul li a{
   width: 100%; 
}
.sublinks img{
    height: 1em;
    width: auto;
}
@media screen and (max-width: 1229px) {
  .nav-links ul {
    flex-direction: column;
    
  }
  .sublinks{
    display: block;
  }

}
</style>
<div class="nav-links">
    <ul>
        <li>
            <a href="/">Home</a> 
        </li>
        <li>
            <a href="/types/">Types of testing</a>
        </li>
        <li>
            <a href="/concepts">Concepts</a>
        </li>
        <li>
            <a href="/unit-tests/">Unit tests (with Jest)</a>
        </li>
        <li>
            <a href="/end-to-end/">End to end tests</a>
        </li>
        <li>
            <a href="/intro-to-cypress/">Cypress</a>
        </li>
        <li>
            <a href="/component-test/">Component tests</a>
            <div class="sublinks">
                <small>
                    <img src="/domtesting.png"/>
                    Testing Library
                </small>
                <ul>
                    <li>
                        <a href="/testing-react-components-react-testing-library">React</a>
                    </li>
                    <li>
                        <a href="/testing-vue-components-vue-testing-library">Vue</a>
                    </li>
                </ul>
                <small>
                    <img src="/cypress.svg"/>
                    Cypress
                </small>
                <ul>
                    <li>
                        <a href="/testing-react-components-cypress">React</a>
                    </li>
                    <li>
                        <a href="/testing-vue-components-cypress">Vue</a>
                    </li>
                </ul>
            </div>
            
        </li>
    </ul>
</div>
